@charset "UTF-8";

@media screen and (max-width: 720px){
    .texto > h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 1200px){
    .width-4 {
        width: 48%;
        flex: 1 1 auto;
    }

    .width-6 {
        width: 80%;
        flex: 1 1 auto;
    }

    .width-8, .width-8-media-query {
        width: 98%;
        flex: 1 1 auto;
    }
}
