@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:root{
    --color1: white; /*Body #FFF1DA*/
    --color2: white; /*Main #FFF1DA*/
    --color3: rgb(246, 246, 246); /*Header #FFD791*/
    --color4: black;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color1);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--color3);
    z-index: 3;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px;
    border-radius: 15px;
}

.first:hover {
    background-color: rgb(255, 249, 242);
}

.first > img {
    border-radius: 999px;
    max-height: 42px;
    margin-right: 5px;
}

.first > p {
    text-shadow: 1px 1px 5px rgba(188, 188, 188, 0.4);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul > li > a{
    color: black;
    padding: 8px 15px;
    margin: 0px 2px;
    text-decoration: none;
    font-weight: 600;
}

ul > li > a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}

.background-container {
    position: relative;
    height: 85vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: contrast(110%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.background-image-1 {
    opacity: 1;
    background-image: url('../desenhos_first/20240311_183229fl.jpg');
}

.background-image-2 {
    opacity: 0;
}

.background-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.300), rgba(100, 100, 100, 0.300));
    z-index: 1;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.texto > h1{
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    font-size: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.481);
}

.texto > p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

.clickable-image {
    width: 100px;
    cursor: pointer;
}

div.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 5px;
    width: 80%;
    max-width: 1275px;
    height: auto;
    background-color: var(--color2);
}

div#galeria-hidden{
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fadeIn 0.3s ease;
}

button#showGallery{
    padding: 12px 100px;
    margin: auto;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease, transform 0.15s ease;
}

button#showGallery:hover {
    background-color: #373737;
    transform: translateY(-1px);
}

button#showGallery:active {
    color: #000000;
    transform: translateY(0);
}

.width{
    cursor: pointer;
    margin: 22px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    text-align: center;
}

.width-4 {
    flex: 1 1 30%;
    width: 30%;
}

.width-6 {
    flex: 1 1 40%;
    width: 40%;
}

.width-8 {
    flex: 1 1 63.2%;
    width: 63.2%;
}

img.desenho {
    width: 100%;
    height: 100%;
    filter: grayscale(30%);
    transition: filter 0.3s ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}

img.desenho:hover{
    filter: grayscale(0%);
    transform: scale(1.008);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
}

img.black-white{
    filter: contrast(90%);
}

footer{
    background-color: var(--color4);
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
    padding: 50px 1px 1px;
    line-height: 40px;
}

footer > p > a{
    color: rgb(99, 237, 255);
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 1000;
}

.expanded-image {
    max-width: auto;
    max-height: 90%;
    object-fit: contain;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#galeriaId{
    width: 100%;
    display: flex;
    scroll-margin-top: 60px;
}