@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes toBottom {
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(3px);
    }
}

/* Animação de subir e descer */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Animação da seta */
@keyframes arrowBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Movimento menor para a seta */
    }
}

:root{
    --color1: #f6f6f6; /*Body*/
    --color2: #f6f6f6; /*Main*/
    --color3: #e0e0e0; /*Header*/
    --color4: black; /*Footer*/

    --color5: rgb(0, 0, 0); /*Body escuro*/
    --color6: rgb(63, 63, 63); /*Header escuro*/
}

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6f6f6;
}

main{
    position: relative;
}
/*




Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    min-height: 40px;
    padding: 6px 6px;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 3;
    overflow: hidden;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
    padding: 4px 8px;
    border-radius: 12px;
    text-decoration: none;
}

.first:hover {
    background-color: rgb(192, 192, 192);
}

.background-escuro-header > .first:hover {
    background-color: rgb(108, 108, 108);
}

.first > img {
    border-radius: 999px;
    height: 95%;
    margin-right: 5px;
}

.first > p {
    text-shadow: 1px 1px 5px rgba(188, 188, 188, 0.4);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 8px;
}

ul > li{
    display: flex;
    text-align: center;
}

ul > li > a{
    padding: 12% 12px;
    margin: 0px 2px;
    text-decoration: none;
    font-weight: 600;
}

.background-claro-header a{
    background-color: var(--color3);
    color: black;
}

.background-escuro-header a{
    background-color: var(--color6);
    color: white;
}

.ulFirst a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}

.background-escuro-header a:hover{
    background-color: rgb(120, 120, 120);
}

.background-escuro-header span, .background-claro-header span{
    cursor: pointer;
    font-size: 30px !important;
}

.background-claro-header span:hover{
    text-shadow: 1px 1px 5px rgba(141, 141, 141, 0.25);
    transform: translateY(3px);
    animation: toBottom 0.3s ease-in-out;
}

.background-escuro-header span:hover{
    text-shadow: 1px 1px 5px rgba(181, 181, 181, 0.26);
    transform: translateY(3px);
    animation: toBottom 0.3s ease-in-out;
}

/*




Conteiner com os desenhos */

.background-container {
    position: relative;
    height: 85vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.background-image-1 {
    opacity: 1;
    background-image: url('../desenhos/20220919_130844_high.jpg');
}

.background-image-2 {
    opacity: 0;
}

/*Filtro na imagem*/
.background-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.15);
    z-index: 1;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.texto > h1{
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    font-size: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.481);
}

.texto > p{
    font-size: 22px;
}

/*




Overlay (div que aparece após clicar em um desenho)*/

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 1000;
}

.expanded-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#scrollGaleria{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    scroll-margin-top: 80px;
}

/*




Galeria */

div.galeria{
    display: grid;
    grid-template-columns: repeat(24, minmax(0.1px, 1fr));
    gap: 5px;
    grid-auto-flow: dense;
    width: 82%;
    max-width: 1650px;
    margin: 25px auto auto auto;   
}

div#galeria-hidden{
    display: none;
    margin-top: 25px; 
    animation: fadeIn 0.3s ease;
}

a > button#scroll-buttonId{
    transition: background-color 0.15s ease, transform 0.15s ease;
    animation: bounce 2s infinite;
}

button#showGallery{
    display: block;
    padding: 12px 100px;
    margin: 20px auto;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button#showGallery .material-symbols-outlined{
    font-size: 26px !important;
}

.background-escuro button#showGallery{
    background-color: #eaeaea;
    color: #191919;
}

.background-claro button#showGallery:hover {
    background-color: #373737;
    transform: translateY(3px);
    animation: toBottom 0.5s ease-in-out;
}

.background-escuro button#showGallery:hover {
    color: #000000;
    background-color: #aeaeae;
    transform: translateY(3px);
    animation: toBottom 0.5s ease-in-out;
}

button#showGallery:active {
    color: #000000;
    transform: translateY(0);
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    margin-bottom: 15px;
}

img.desenho {
    cursor: pointer;
    width: 100%;
    filter: grayscale(25%);
    transition: filter 0.25s ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
}

img.desenho:hover{
    filter: grayscale(0%);
    filter: contrast(105%);
    transform: scale(1.008);
    transition: transform 0.25s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
}

.desenhoDigital:hover{
    filter: contrast(100%) !important; 
}

img.black-white{
    filter: contrast(90%);
}

footer{
    background-color: var(--color4);
    color: white;
    text-align: center;
    padding: 50px 1px 1px;
    margin-top: 60px;
    line-height: 40px;
}

footer > p > a, footer > p > strong > a{
    text-decoration: none;
}

footer > p > a:hover{
    color: rgb(133, 194, 255);
}


/*




grid */
.item1{
    grid-column: 1/11;
}
.item2{
    grid-column: 11/18;
}
.item3{
    grid-column: 18/25;
}

.item4{
    grid-column: 1/9;
}
.item5{
    grid-column: 9/17;
}
.item6{
    grid-column: 17/25;
}

.item7{
    grid-column: 1/16;
}
.item8{
    grid-column: 16/25;
}

.item9{
    grid-column: 1/10;
}
.item10{
    grid-column: 10/25;
}
/*galeria-hidden*/
.item11{
    grid-column: 1/9;
}
.item12{
    grid-column: 9/17;
}
.item13{
    grid-column: 17/25;
}

.item14{
    grid-column: 1/9;
}
.item15{
    grid-column: 9/17;
}
.item16{
    grid-column: 17/25;
}

.item17{
    grid-column: 1/9;
}
.item18{
    grid-column: 9/17;
}
.item19{
    grid-column: 17/25;
}

.item20{
    grid-column: 1/10;
}
.item21{
    grid-column: 10/25;
}

.item22{
    grid-column: 5/21;
}

/*




JavaScript */
.background-claro, .background-escuro{
    transition: background-color 0.5s ease, color 0.5s ease;
}

.background-claro {
    background-color: var(--color1);
    color: black;
}

.background-escuro {
    background-color: rgb(25, 25, 25);
    color: white;
}

.background-claro-header {
    background-color: var(--color3);
    color: black;
}

.background-escuro-header {
    background-color: var(--color6);
    color: white;
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    width: 100vw;
    margin: 0px;
    z-index: 1000;
}

#scroll-buttonId {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #424e5f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

#scroll-buttonId:hover {
    background-color: #2d3137;
}

.arrow {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}